body{
    font-family: sans-serif;
}
.left-part h1 {
    width: 408px;
    font-size: 50px;
    font-family: Yeseva none;
    margin-bottom: 0px;
}

.image-person {
    width: 25%;
    margin-top: 36px;
}

.image-person img {
    width: 452px;
}

.left-part {
    width: 46%;
    padding: 76px;
    margin-left: 100px;
}
.left-part p {
    width: 538px;
    margin-top: 30px;
}
.left-part span {
    color: #FF5959;
}
button.btn-1 {
    padding: 17px;
    padding-left: 29px;
    padding-right: 29px;
    background-color: #FFAD5A;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 15px;
}


.left-part h1 {
    border-left: 4px solid;
    border-image: linear-gradient(#ff0c95,#f55f84);
    border-image-slice: 1;
}

.top-banner{
    display:flex
}
.second-sec {
   
    
}
.center-h1{
    font-size: 70px;
    text-align: center;
    margin-bottom: 0;
}
.color-span {
    color: #FF5959;
}


.box-area {
    width: 20%;
    height: 394px;
    background-color: #fdc1c1;
    border-radius: 25px;
    margin-left: 40px;
    margin-top: 50px;
}
.box-area img {
    width: 57%;
    margin-left: 10px;
}

.box-area h1 {
    margin-left: 35px;
}

.box-area p {
    margin-left: 35px;
}
.full-boxarea {
    display: flex;
    margin-left: 285px;
    width: 100%;
    height: 478px;
}
div#img-color-change {
    background-color: #FEE4CD;
}
div#img-color-change2 {
    background-color: #ffad5a;
}

/*---------- DEVELOP WITH LIMIT part started--------*/
.container {
    display: flex;
    
}
.leftside-image{
    width: 823px;
}
.right-side-collam{
    width: 50%;
}

.leftside-image img {
    width: 50%;
    margin-left: 326px;
}
.right-side-collam h1 {
    font-size: 50px;
    margin-bottom: 0;
    padding: 0px;
    margin-top: 20px;
}
.right-side-collam p {
    width: 70%;
}
.right-side-collam p {
    margin-bottom: 37px;
    margin-top: 18px;
    width: 815px;
}
.leftside-image-2 img {
    width: 50%;
    margin-left: 71px;
}
.right-side-collam-2{
    width: 43%;
    margin-left: 225px;
}
.right-side-collam-2 h1 {
    font-size: 50px;
    margin-bottom: 0;
    padding: 0px;
    margin-top: 20px;
}
.right-side-collam-2 p {
    width: 70%;
}
.right-side-collam-2 p {
    margin-bottom: 37px;
    margin-top: 18px;
    width: 815px;
}
/*********************contact us start ************************/
section.contact-sec h1 {
    text-align: center;
    font-size: 50px;
}

section.contact-sec p {
    text-align: center;
}
.contact-form {
    width: 100%;
}

.contact-form input {
    width: 383px;
}

input[type="text"] {
    width: 383px;
    height: 55px;
    /* color: #d90404; */
}

label {
    font-weight: 900;
    font-family: revert;
    color: #000000;
    padding: 16px;
    font-size: 20px;
}
.contact-form {
    width: 45%;
    background-color: #ffad5a;
    height: 368px;
    margin-left: 515px;
    border-radius: 12px;
}

.contact-form input {
    width: 663px;
    margin-left: 90px;
    /* padding: 10px; */
    border-radius: 5px;
    background-color: #f7f7f7;
    border: none;
}





input[type="number"] {
    height: 55px;
}

input[type="text"] {
    text-align: center;
}

input[type="number"] {
    text-align: center;
}